.container {
    max-width: 800px;
    margin: 50px auto ;
}

.container.cont > div {
    padding-bottom: 50px;
    border-bottom:1px solid #d9d9d9
}

.container.cont > div:last-child {
    border-bottom: none;
}

.page_tit {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.tit {
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    font-weight: 500;
}

.sub {
    font-size: 14px;
}
.lang {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}
.lang a:hover {
    background: #898989;
    color: #fff;
    border-color: #898989;
}
.lang a {
    display: inline-block;
    width: calc( 50% - 5px );
    border: 1px solid #d9d9d9;
    padding: 30px 0;
    text-align: center;
    float: left;
}
.lang a:first-child{
    margin-right: 10px;
}
.way li {
    margin-bottom: 25px;
}

.way li:last-child {
    margin-bottom: 0;
}

.img_wrap{
    margin-bottom: 5px;
}
.way li p{
    padding-left: 15px;
    position: relative;
}
.way li p:after{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #9b9b9b;
    position: absolute;
    top: 9px;
    left: 0;
} 
.caution {
    color: rgb(236, 87, 7);
}

.video_wrap {
    max-width: 600px;
    width: 100%;
}
.video_wrap iframe {
    width: 100%;
    height: auto;
    min-height: 400px;
}
@media ( max-width : 800px ) {
    .container.cont > div {
        padding-left:20px;
        padding-right: 20px;
    }

    .page_tit {
        padding-left:20px;
        padding-right: 20px;
    }

}